PORT=8080
JWT_SECRET=change_me_in_prod
JWT_ISSUER=digilock
DATABASE_URL=postgres://postgres:postgres@localhost:5432/digilock
ALLOWED_ORIGINS=http://localhost:3000
S3_BUCKET=digilock-docs
S3_ENDPOINT=https://s3.amazonaws.com
S3_REGION=ap-south-1
S3_ACCESS_KEY=changeme
S3_SECRET_KEY=changeme
REDIS_URL=redis://localhost:6379
